<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="public, max-age=300, s-maxage=600">
    <meta name="google-site-verification" content="B8PV6ghxu6KjVV0ny-1zjnRAbsB2XO5TjL8Fwd-h_u8" />
    <meta name="keywords" content="CampusWeekly, campusweekly, campus weekly, campus news, campus weekly news">
    <meta name="keywords"
        content="campus weekly lira university, lira, lira university, latest news, lukard, lukenge, campus news lira university">
    <title>Campus Weekly ChatRoom</title>
    <link rel="shortcut icon" href="images/campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="styled.css">  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
        
        
        .chat-container {
        max-width: 500px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 9px 25px #0b2a5b;
        overflow: hidden;
        border: 1px solid #0b2a5b;
        background: #0d3575;
        }
        .chat-header {
        min-height: 50px;
        overflow: hidden;
        background: #0b2a5b;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #051b3f;
        }
        .chat-header .logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
        color: rgb(81, 184, 243);
        }
        .logo h3 {
        letter-spacing: 2px;
        margin-left: 10px;
        }
        .chat-header p {
        margin-right: 20px;
        cursor: pointer;
        opacity: 0.8;
        }
        .chat-section {
        padding: 20px;
        }
        .main-wrapper {
        width: 100%;
        height: 500px;
        }
        .chat-content {
        width: 100%;
        height: 450px;
        background: white;
        overflow-y: auto;
        box-shadow: inset 0 0 1px #111;
        padding: 0 10px;
        border-radius: 3px;
        scrollbar-width: none;
        }
        .chat-container .message {
        width: 100%;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }
        .message-row {
        display: grid;
        grid-template-columns: 70%;
        margin-bottom: 10px;
        }
        .you-message {
        justify-content: end;
        justify-items: end;
        }
        .other-message {
        justify-content: start;
        justify-items: start;
        }
        .message-text {
        padding: 9px 14px;
        margin-bottom: 5px;
        }
        .message-time {
        font-size: 13px;
        color: #777;
        }
        .you-message .message-text {
        background: #0048aa;
        color: white;
        border-radius: 1px solid #0048aa;
        border-radius: 14px 14px 0 14px;
        }
        .other-message .message-text {
        background: #eee;
        color: #111;
        border-radius: 1px solid #ddd;
        border-radius: 14px 14px 14px 0;
        }
        .message-title span {
        font-size: 12px;
        text-transform: capitalize;
        }
        .msg-tex {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        }
        .msg-tex input,
        .msg-tex button {
        flex: 4;
        height: 40px;
        outline: none;
        border: 1px solid #888;
        padding: 0 10px;
        border-radius: 3px;
        }
        .msg-tex button {
        flex: 1;
        max-width: 120px;
        cursor: pointer;
        color: rgb(81, 184, 243);
        }
        ::-webkit-scrollbar {
        display: none;
        }

    </style>
</head>


<body>
    
    {{> chats}}
    {{> general }}
    {{{ body }}}
    {{> footer}}

    <script src="script.js"></script>
    <script src="scrollscript.js">  
    </script>
    

   
</body>

</html>