<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="B8PV6ghxu6KjVV0ny-1zjnRAbsB2XO5TjL8Fwd-h_u8" />
    <meta name="keywords" content="CampusWeekly, campusweekly, campus weekly, campus news, campus weekly news">
    <meta name="keywords"
        content="campus weekly lira university, lira, lira university, latest news, lukard, lukenge, campus news lira university">
    <meta http-equiv="Cache-Control" content="public, max-age=300, s-maxage=600">
    <title>Campus Weekly</title>
    <link rel="shortcut icon" href="images/campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">

    <style type="text/css">
        .slider {
            width: 80%;
            margin: 50px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }
    </style>
    <style>
        .scrollmenu{
            background-color: #fff;
            overflow: auto;
            white-space: nowrap;
        }
        .scrollmenu div{
            display: inline-block;
            color: #000;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
        .scrollmenu div:hover{
            background-color: #777;
            border-bottom: 3px solid #f66436;
        }
        .active1{
            background-color: #777;
            border-bottom: 3px solid #000;
        }
    </style>
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/campusweeklylogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/campus-101">Campus 101</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interview">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internship">Internship</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/inspiration">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uncensored">Uncensored</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/noticeboard">NoticeBoard</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    
    
    
    <!--slider images-->
    <div class="container-fluid ">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/cover.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/gulucoaster.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/guluplan.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/muni1.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/muni.jpg" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/liraslider2.jpg" alt="Sixth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/liraslider3.jpg" alt="Seventh slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--JUmbotron-->
    <div class="container-fluid padding">
        <div class="row jumbotron ">
            <div class="col">
                <p class="lead">
                    Have you been aching? Thinking of a platform? That would have all the necessary simple scale
                    announcements! To keep you up to date with the Campus programs? Guess what, today is your lucky
                    day...
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div style="margin-bottom: 10px; display: flex;justify-content: space-around;">
                    <div>
                        <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"
                            style="text-decoration: none;" class="btn btn-outline-primary">

                            <i class="fa fa-youtube"></i>&nbsp; Beacon TV

                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/WeeklyCampus" target="_blank" style="text-decoration: none;"
                            class="btn btn-outline-primary">
                            <i class="fa fa-twitter-square"></i>
                            <span style="font-weight: bold;">&nbsp;On Twitter</span>
                        </a>
                    </div>
                </div>
                <div style="margin-bottom: 10px; display: flex;justify-content: space-around;">
                    <div>
                        <a href="https://www.facebook.com/campusweekly.fb" target="_blank"
                            style="text-decoration: none;" class="btn btn-outline-primary">
                            <i class="fa fa-facebook-square"></i>
                            <span style="font-weight: bold; font-size: 12px;">CampusWeekly</span>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/campusweekly/" target="_blank" style="text-decoration: none;"
                            class="btn btn-outline-primary">
                            <i class="fa fa-instagram"></i>
                            <span style="font-weight: bold;">&nbsp; Instagram</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--welcome-->
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Campus Weekly&#8482;</h1>
            </div>
            <hr style="border: 2px solid black; width: 80%;">
            <div class="col-12">
                <p class="lead">
                    A platform you can trust, to have the answer to that instant question about which program is going
                    on, which one is supposed to be going on or which one is scheduled for which time!
                </p>
            </div>
        </div>
    </div>

    <!--Three column selection-->
    <div class="container-fluid padding">
        <div class="row text-left padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i>
                    <img src="images/campusweeklyfavicon.png " alt="logo"
                        style=" height: 30px; background-color: rgb(255, 255, 254);">
                </i>
                <h3>News</h3>
                <p>
                    The CampusWeekly News Team will cover all the official news, announcements, availing any and all new
                    administrative information released by the Campus(es). <br>
                    Covering entertainment, local and international news, breaking and routine news!
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i>
                    <img src="images/campusweeklyfavicon.png " alt="logo"
                        style=" height: 30px; background-color: rgb(255, 255, 254);">
                </i>
                <h3>Campus 101</h3>
                <p>
                    This is the best part! Have you been hearing rumors? Rumors that sure do make you laugh? Rumors
                    about one of the influential students at campus? Did you laugh, but still not so sure if it happened?
                    <br>
                    Well, Campus 101 is here to give you that hot story, you know what? Forget any of that, we are going
                    to give you all the gossip there is at every corner of the campus!
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i>
                    <img src="images/campusweeklyfavicon.png " alt="logo"
                        style=" height: 30px; background-color: rgb(255, 255, 254);">
                </i>
                <h3>Interviews</h3>
                <p>
                    You always wanted to know who he was! Who she really is! But you just couldn't approach them. <br>
                    Well, here at CampusWeekly Interviews, we bring them to you!
                    Asking them any and all the questions you've been dying to ask. <br>
                    Availing all that you wanted to know about them. Are they your role models? Or do their lives just
                    inspire you? We shall interview them.
                </p>
            </div>
        </div>
    </div>

    <!--hr on top-->
    <div class="container-fluid">
        <div class="row text-center" style="margin: auto;">
            <div class="col-12 text-center">
                <hr style="width: 100%; border: 10px solid #051e58;">
            </div>
        </div>
    </div>
    

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/lukard_logo.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">I AM NOT FINE</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story From
                        <a href="https://adventuresoflukard.herokuapp.com" target="_blank"
                            style="text-decoration: none; ">Lukard Adventures</a>
                        <img class="img-fluid" src="images/lukardlogo.jpg" alt="lukard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Do not let my show fool you. Please don’t! I am not fine. I know I am supposed to be alright; but I am not. I am very much afraid to tell anyone either because I pretty much do not want to make anyone uncomfortable.
                        &nbsp;
                        ...
                        <a href="https://adventuresoflukard.herokuapp.com/fine" class="btn btn-outline-primary">Read more</a>
                        
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/lukard_logo.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">POWERLESS</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story From
                        <a href="https://adventuresoflukard.herokuapp.com" target="_blank"
                            style="text-decoration: none; ">Lukard Adventures</a>
                        <img class="img-fluid" src="images/lukardlogo.jpg" alt="lukard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Some days are not exactly that great – at campus! Yeah, to be fair, most of them are fun; I mean for
                        those at campus or gone through campus you know what I am talking about. Every class you take is
                        your very own decision.
                        &nbsp;
                        ...
                        <a href="/powerless" class="btn btn-outline-primary">Read more</a>
                        <br>
                        Date: Fri-02/07/21
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    <!--Two column section-->
    <div class="container" >
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/binepe.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9 ">
                    <h3 class="card-title">Interview With The Deputy National Coordinator, Debate Presidents Council</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        
                        This week in an interview with Mr. Binepe Lhwanzo Bwambale, the newly elected Deputy National Coordinator, we bring to you a look at the Uganda University Debate Presidents Council and a quick peek through the guest’s rather interesting leadership journey.
                        &nbsp;
                        ...
                        <a href="/interview-with-mr-bwambale" class="btn btn-outline-primary">Read more</a>
                        <br>
                        Date: Fri-25/06/21
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Two column section-->
    <div class="container" >
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/news3.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9 ">
                    <h3 class="card-title">THIS WEEK ON CAMPUS WEEKLY</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        
                        Saying that this has been a rather interesting week would be an extremely unfairly statement to so many! Well, let’s just take a lens! And look at events going backwards throughout this entire week.
                        &nbsp;
                        ...
                        <a href="/saturday-19-june-2021" class="btn btn-outline-primary">Read more</a>
                        <br>
                        Date: Sat-19/06/21
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container" >
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/news2.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9 ">
                    <h3 class="card-title">THIS WEEK ON CAMPUS WEEKLY</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        ...
                        &nbsp;
                        All this came to a surprise stand still on the night of Sunday, the 6th June, 2021. Well, to some, it wasn’t really a surprise per say! This special night housed the President’s address to the nation in response to the so called second wave of the famous COVID-19 pandemic in Uganda.
                        &nbsp;
                        ...
                        <a href="/saturday-12-june-2021" class="btn btn-outline-primary">Read more</a>
                        <br>
                        Date: Sat-12/06/21

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/sera.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">MY DECISION TO STUDY PSYCHOLOGY AT LIRA UNIVERSITY </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by Kwerit Sarah Chebijirah
                        <img class="img-fluid" src="images/sera1.jpg" alt="image"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        The world is made up of 7 billion people with the power to make or break society, therefore, the 
                        most important topic area you could ever study is these people. When someone asks me what 
                        Psychology is I tell them it is the science of the most complex machine on this planet, the mind. 
                        The complexity and the mystery which enshrouds the human mind has always appealed me.

                        &nbsp;
                        ...
                        <a href="/my-decision" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>



    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/food.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">FOOD AND RESTAURANTS</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        In the evening of course, the trend was still the same. Abby’s Joint was the place to meet! This guy made the best Rolex. Combined with some porridge or tea and supper was done.
                        &nbsp;
                        ...
                        <a href="/food-and-restaurants" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/payday1.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">TIED AND READY – THE MONEY’S HERE</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        720,000 digits. At exactly 4:20pm! Not a second later! The notifications were already spreading the happiness, all around. The Dean Of Students came through. As promised, the digits have been making their way throughout the Students’ Bank Accounts this entire evening.
                        &nbsp;
                        ...
                        <a href="/tied-and-ready" class="btn btn-outline-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <h3 style="text-align: center;" class="card-title">TO ALL GOVERNMENT SPONSORED STUDENTS </h3>
                <h6 style="font-weight: bold; text-align: center;">
                    <i class="fa fa-edit"></i> Story by The Editor
                    <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                                style="width: 40px; margin-top: -15px; border-radius: 100%;">
                </h6>
                <div class="row padding">
                    <div class="col-lg-3">
                        <img class="img-fluid" src="images/dean.jpg" alt="image" style="">
                    </div>
                    <div class="col-md-12 col-lg-9">
                        <div class="container">
                            <div class="row padding">
                                <div class="col-lg-6">
                                    <p>
                                        I hope this finds you well and good.
                                    </p>
                                    <h6 style="font-weight: bold;">INFORMATION FROM THE DEAN OF STUDENTS</h6>
                                    <p>
                                        Please note that your living out allowance payment for next semester (Sem 2) was initiated on Friday, 14th May, 2021.
                                    </p>
                                    <p>
                                        To that end therefore; you will be receiving a payment notification from your respectful banks any time from now.
                                    </p>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <p>
                                        This means that the allowance for next semester is also going to be availed this semester. 
                                        <br><br>
                                        You are thereby requested to use that money sparingly; just as earlier requested, through the Communication hosted on the noticeboards by the Dean’s Office.
                                    </p>
                                    <p>
                                        Kind regards, <br> Charles Chosen Muyingo.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/please.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">CHECK ON YOUR FRIENDS </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by Aron Eryau
                        <img class="img-fluid" src="images/aa.jpg" alt="image"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        We live in a world where there is endless scrolling, typing, likes and emoji. Communication has been
                        made easy, life is so much better with twitter, Facebook, Instagram filters and so on. People rarely
                        use pen and paper to write to lovers anymore; which I think is kind of old school and romantic, but
                        the truth is we never really bond anymore.
                        &nbsp;
                        ...
                        <a href="/check-on-your-friends" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>




    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/new.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">THIS WEEK’S EVENTS</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Joining in on the week with smiles and energy from last week’s Saturday, this week’s Sunday, 2nd
                        May, 2021 saw the Freshers face off with the giants from the ongoing students in the different
                        sports activities that were arranged.
                        &nbsp;
                        ...
                        <a href="/saturday-8-may-2021" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/news.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">THIS WEEK ON CAMPUS WEEKLY</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Ending the past week; Saturday, 24th April, 2021 saw a fuel tanker truck plunge into R. Nile at
                        Karuma Bridge killing two people. These were believed to be the driver and the turn man for the
                        vehicle, registration number UAS 337M, trailer number MMF 450.
                        &nbsp;
                        ...
                        <a href="/saturday-1-may-2021" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/swear.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">LDC GUILD AND STUDENTS' COUNCIL SWEARING IN </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i>
                        Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Happening on Wednesday, 21st April, 2020 at the Lira University Teaching Hospital Grounds.
                        &nbsp;
                        <br>
                        ...
                    </p>
                    <p class="card-text">

                        <a href="/LDC-guild-swearing-in" class="btn btn-outline-primary">Editorial in Pictures</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/mental.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">MENTAL HEALTH AWARENESS </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by Ocen Daniel Comboni
                        <img class="img-fluid" src="images/comboni2.jpg" alt="image"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        World Health Organization defines mental health as a state of physical and psychological wellbeing
                        of an individual. Therefore Health, “is a state of complete physical, mental and social well-being!
                        Not merely the absence of disease or infirmity."
                        &nbsp;
                        ...
                        <a href="/mental-health-awareness" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/lackmoney.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">LACK OF MONEY IS THE ROOT OF ALL EVIL </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by Ocepa Amos
                        <img class="img-fluid" src="images/amos2.jpg" alt="image"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        “Life is hard. Life has become hard one of these days. The world has become too small for me.” These
                        are some of the wordings that fill both teenage and adult conversations most if not all the time.
                        But has it ever occurred to you
                        to get deep down into the heart of the matter?
                        &nbsp;
                        ...
                        <a href="/money" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/liz1.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">SHE WON!</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        With 65 votes, Ms. Nabakooza Elizabeth beat Mr. Bitarinsha Yoramu who had 59 votes; making two
                        significant records! She became the first ever female Chief Fresher and the first ever Chief Fresher
                        from Buganda.

                    </p>
                    <p class="card-text">
                        ...
                        <a href="/she-won" class="btn btn-outline-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/debate2.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">THE CHIEF FRESHERS’ DEBATE!</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Happening on Friday, 16th April, 2021 just two days to the Elections day, Sunday, 18th April, 2021;
                        the Chief Freshers’ Debate was organized by the Lira University Debate Society in partnership with
                        the African Youth Leadership Forum (AYLF) – Lira University Chapter.
                        &nbsp;
                        ...
                        <a href="/chief-fresher-debate" class="btn btn-outline-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/inspiration2.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">HOW MUCH ARE WE DOING AS STUDENT MIDWIVES </h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by Aron Eryau
                        <img class="img-fluid" src="images/aa.jpg" alt="image"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        What can I say? You know that little excitement that you get once you’ve just tweeted or posted a
                        photo on Facebook, and many people liked it! Well yeah, that's the exact kind of high I get every
                        time a patient says thank you, you were so helpful.
                        &nbsp;
                        ...
                        <a href="/student-midwives" class="btn btn-outline-primary">Read more</a>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/graduation1.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">LIRA UNIVERSITY 2ND GRADUATION CEREMONY</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Friday, 9th April, 2021 joyfully marked it's signifance in the history books as the date the second
                        graduation ceremony of Lira University was held. The first graduation already holding its position
                        in the dates of another Friday, the 1st November, 2019.


                    </p>
                    <p class="card-text">
                        ...
                        <a href="/graduation" class="btn btn-outline-primary">Read more</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/debate2.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">THE DEBATE SOCIETY</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        You haven’t lived till you have attended one of the intellectual discussions held by the debate
                        society of Lira University. You just haven’t! I was invited to one of these sessions and I tell you
                        right here right now, my friends, the experience I got was unprecedented! It was the best feeling,
                        being in the same room with such great minds.
                        <br>
                        ...
                        <a href="/lifestyle" class="btn btn-outline-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/midwifery.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">MIDWIFERY INTERNSHIP</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        “In Uganda, midwives have been traditionally prepared mainly to perform the role of subordinates to
                        the doctors. The Bachelor of Science in Midwifery program is to elevate midwifery to an educational
                        level that prepares midwives to exercise critical thinking and judgement in the provision of
                        comprehensive and integrated reproductive health practice, as well as community-based health care.
                        ...
                        <a href="/midwifery-internship" class="btn btn-outline-primary">Read more</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/uganda-currency.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">BREAKING NEWS</h3>

                    <p class="card-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It’s here! It finally is! You have used
                        that borrowed pen for quite a
                        while now! You have shied away
                        from even stepping inside Mr Muwonge’s YammieShoppers Supermarket, for long.
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It’s high time. Yes, I’m talking to the
                        government student who’s been
                        praying for a drop of water in
                        this drought, that has no borders, reaching far deep inside the pockets.
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today, the 25th March, 2021, at about
                        5:30 pm, the phones belonging to
                        the
                        government students
                        all
                        beeped at the same time as they were finally rescued from the anticipation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/midwife2.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">THEY ARE BACK!</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Leaving on Monday, 22nd February, 2021, dispatched to various hospitals in the region, the present
                        day year two midwifery students completed their first internship program with the first lot
                        reporting back to campus on Friday, 19th March, 2021.
                    </p>
                    <p class="card-text">
                        The CampusWeekly™ lens happened to be in the vicinity of some of these extremely happy-to-be-back
                        members of the health community. Preferring anonymity, the jubilant midwives-to-be interviewed
                        narrated their experiences to our reporters.
                        <br>
                        ...
                        <br>
                        <a href="/they-are-back" class="btn btn-outline-primary">Read more</a>
                    </p>              
                </div>
            </div>
        </div>
    </div>

    <!--Two column section-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="row padding card-body">
                <div class="col-lg-3">
                    <img class="img-fluid card-img" src="images/smith-1.jpg" alt="image" style="">
                </div>
                <div class="col-md-12 col-lg-9">
                    <h3 class="card-title">Interview with LDC Guild President</h3>
                    <h6 style="font-weight: bold;">
                        <i class="fa fa-edit"></i> Story by The Editor
                        <img class="img-fluid" src="images/lukard_avatar.jpg" alt="Lukenge-Benard"
                            style="width: 40px; margin-top: -15px; border-radius: 100%;">
                    </h6>
                    <p class="card-text">
                        Having any doubts on whether leadership and good looks have any intersection whatsoever? I'm quite
                        sure you just haven't met H. E Rutebemberwa Smith! The cutest man from the land of Ankole currently
                        residing over a team of eight Guild officials leading an entire intake of close to three hundred and
                        fifteen 2020/2021 lawyers.
                    </p>
                    <p class="card-text">
                        The Law Development Centre opening its third branch at Lira Campus, the first and second being
                        Kampala Main Branch and Mbarara, brings with it a new feel and style to the air the campus has been
                        used to. Yes, the full time high standard taste in attire is not an attribute shared only by Mr.
                        Smith. No, my friend, the university just got itself three hundred and fifteen recruits pulling off
                        a completely new swag for the campus.
                        <br> 
                        ...
                        <br>
                        <a href="/ldc-guild-president-interview" class="btn btn-outline-primary">Read more</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center" style="margin: auto;">
            <div class="col-12 text-center">
                <h1 class="display-4">The NewsTeam</h1>
                <hr style="width: 100%; border: 10px solid #051e58;">
            </div>
        </div>
    </div>


    <!--cards-->
    
    <section class="center slider">
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/ben.JPG" alt="Lukenge-Benard" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Lukenge Benard</h4>
                            <p class="card-text">
                                Back End Developer
                                <br>Chief Editor, Campus News
                            </p>
                            <a class="btn btn-outline-secondary" href="https://adventuresoflukard.herokuapp.com"
                                target="_blank">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/matia3.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Nyanzi Matia</h4>
                            <p class="card-text">
                                Web Developer - PHP, JS
                                <br>Director, JCM Technologies
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/sam.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Xamuel UG</h4>
                            <p class="card-text">
                                Full Stack Developer
                                <br>YammieShoppers.com
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/aa.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Aron Eryau</h4>
                            <p class="card-text">
                                Inspiration Writer
                                <br>CampusWeekly News
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/amos2.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Ocepa Amos</h4>
                            <p class="card-text">
                                Inspiration Writer
                                <br>CampusWeekly News
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/comboni2.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Ocen Daniel Comboni</h4>
                            <p class="card-text">
                                Psychological counselor
                                <br>CampusWeekly News
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/mugerwa.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Mugerwa Moses</h4>
                            <p class="card-text">
                                Graphics Designer
                                <br>CampusWeekly News
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row padding">
                <div class="col md-4">
                    <div class="card">
                        <img class="card-imd-top" src="images/sera.jpg" alt="" style=" width: 100%;">
                        <div class="card-body">
                            <h4 class="card-title">Kwerit Sarah</h4>
                            <p class="card-text">
                                Inspiration Writer
                                <br>CampusWeekly News
                            </p>
                            <a class="btn btn-outline-secondary" href="#">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- HR after cards-->
    <div class="container">
        <div class="row text-center" style="margin: auto;">
            <div class="col-12">
                <hr style="width: 100%; border: 10px solid #051e58;">
            </div>
        </div>
    </div>

    <!--cards-->

    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="https://www.facebook.com/pages/category/College---University/CampusWeekly-108456540901823/"
                    target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/@WeeklyCampus" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/campusweekly/?hl=en" target="_blank"><i
                        class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"><i
                        class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid text-white" style="background-color: #051e58;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://campusweekly.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">CampusWeekly</a>
                </p>
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://beaconhostels.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">BeaconHostels</a>
                </p>
                <p>
                    <a href="https://www.beaconnetug.com/" target="_blank"
                        style="text-decoration: none; color: white;">Beaconnetug</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.facebook.com/pages/category/College---University/CampusWeekly-108456540901823/"
                        target="_blank" style="text-decoration: none; color: white;">Facebook</a>
                </p>
                <p>
                    <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"
                        style="text-decoration: none; color: white;">YouTube</a>
                </p>
                <p>
                    <a href="https://twitter.com/@WeeklyCampus" target="_blank"
                        style="text-decoration: none; color: white;">Twitter</a>
                </p>
                <p>
                    <a href="https://www.instagram.com/campusweekly/?hl=en" target="_blank"
                        style="text-decoration: none; color: white;">Instagram</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>

    <div class="container scrollmenu indicator d-flex">
        <div class="active1" onclick="indicateSlide(this)" id="0">
            {{!-- <a class="active1" href="/">Home</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="1">
            {{!-- <a href="/">Home2</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="2">
            {{!-- <a href="/">Home3</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="3">
            {{!-- <a href="/">Home4</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="4">
            {{!-- <a href="/">Home5</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="5">
            {{!-- <a href="/">Home6</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="6">
            {{!-- <a href="/">Home7</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="7">
            {{!-- <a href="/">Home8</a> --}}Home
        </div>
        <div onclick="indicateSlide(this)" id="8">
            {{!-- <a href="/">Home9</a> --}}Home
        </div>
        {{!-- <a href="#">News</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Support</a>
        <a href="#">Blog</a>
        <a href="#">Tools</a>
        <a href="#">Base</a>
        <a href="#">More</a>
        <a href="#">Logo</a>
        <a href="#">Friends</a> --}}
    </div>
    <div class="container">
        <div class="row text-center" style="margin: auto;">
            <div class="col-12">
                <hr style="width: 100%; border: 10px solid #051e58;">
            </div>
        </div>
    </div>

    <script>
        var beamer_config = {
            product_id: "IpeHROOo31380" //DO NOT CHANGE: This is your product code on Beamer
        };
    </script>
    <script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="./slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $('.responsive').slick({
            dots: false,
            infinite: false,
            {{!-- speed: 300, --}}
            slidesToShow: 7,
            slidesToScroll: 7,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
                },
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
            });
            $('.center').slick({
                centerMode: true,
                centerPadding: '60px',
                slidesToShow: 3,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '60px',
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 786,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '60px',
                            slidesToShow: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '20px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
    <script>
        const indicator = document.querySelector(".indicator");
        let index = 0;

        function indicateSlide(element){
            index=element.id;
            updateCircleIndicator();
        }

        function updateCircleIndicator(){
            for(let i=0; i<indicator.children.length; i++){
                indicator.children[i].classList.remove("active1");
            }
            indicator.children[index].classList.add("active1");
        }
    </script>
</body>

</html>