    <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">TEAM</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Lukenge Benard-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/lukard_avatar.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h4 class="card-title">CHIEF EDITOR</h4>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Lukenge Benard                               
                            </h6>
                            <p class="card-text">
                                - BSc. Computer Science, Year 2
                                <br>
                                - Back End Developer  
                                <br>
                                - <span style="font-weight: bold;">lukengelukard@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Atim Maureen-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/atimtimcy.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Atim Maureen                               
                            </h6>
                            <p class="card-text">
                                - BSc. Public Health, Year 3
                                <br>
                                - Technical Adviser                            
                                <br>
                                - Ideas Coordinator
                                <br>
                                - Founder, Beacon TV
                                <br>
                                - <span style="font-weight: bold;">maureenatimtimcy@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Nassiwa Justine-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/avatarT.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Nassiwa Justine                               
                            </h6>
                            <p class="card-text">
                                - BSc. Midwifery, Year 2
                                <br>
                                - Executive Producer                         
                                <br>
                                - Technical Adviser                         
                                <br>
                                - <span style="font-weight: bold;">justinemoureen@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Nyanzi Matia-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/matia3.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Nyanzi Matia                               
                            </h6>
                            <p class="card-text">
                                - BSc. Computer Science, Year 2
                                <br>
                                - Web Developer - PHP, JS                            
                                <br>
                                - Director, JCM Technologies
                                <br>
                                - <span style="font-weight: bold;">nyanzimathiaz@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--XAMUEL UG-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/sam.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Samuel Wekobosya                               
                            </h6>
                            <p class="card-text">
                                - BSc. Computer Science, Year 2
                                <br>
                                - Full Stack Developer                            
                                <br>
                                - YammieShoppers.com
                                <br>
                                - <span style="font-weight: bold;">samweko@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Mugerwa Moses-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/mugerwa.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Mugerwa Moses                              
                            </h6>
                            <p class="card-text">
                                - BSc. Public Health, Year 2
                                <br>
                                - Graphics Designer                                                          
                                <br>
                                - <span style="font-weight: bold;">moses256mugerwa@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Nalyazi Mary-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/mary1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Nalyazi Mary                              
                            </h6>
                            <p class="card-text">
                                - BSc. Midwifery, Year 2
                                <br>
                                - Design Adviser                                                          
                                <br>
                                - Presenter, Beacon TV                                                          
                                <br>
                                - <span style="font-weight: bold;">nalyazimary2@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Nabakkah Mariam-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/mariam3.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">TECHNICAL TEAM</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Nabakkah Mariam                              
                            </h6>
                            <p class="card-text">
                                - BSc. Computer Science, Year 2
                                <br>
                                - Social Media Accounts Coordinator                                                                                       
                                <br>
                                - <span style="font-weight: bold;">nabakkahmariam7@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Aron Eryau-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/aa.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">WRITER</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Aron Eryau                              
                            </h6>
                            <p class="card-text">
                                - BSc. Midwifery, Year 4
                                <br>
                                - Inspiration Writer                                                          
                                <br>
                                - <span style="font-weight: bold;">aroneryau4@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Ocepa Amos-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/amos2.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">WRITER</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Ocepa Amos                              
                            </h6>
                            <p class="card-text">
                                - BSc. Midwifery, Year 2
                                <br>
                                - Inspiration Writer                                                          
                                <br>
                                - <span style="font-weight: bold;">email...</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Ocen Daniel Comboni -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/avatarT.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">WRITER</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Ocen Daniel Comboni                              
                            </h6>
                            <p class="card-text">
                                - Alumnus, Lira University  
                                <br>
                                - Psychological counselor                                                         
                                <br>
                                - <span style="font-weight: bold;">email...</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!--Kwerit Sarah-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/sera.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">WRITER</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Kwerit Sarah                              
                            </h6>
                            <p class="card-text">
                                - BSc. Psychology, Year 1
                                <br>
                                - Inspiration Writer                                                          
                                <br>
                                - <span style="font-weight: bold;">sarahkwerit@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Binepe Lhwanzo Bwambale-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">                    
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            <img class="img-fluid card-img" src="images/bwambale1.jpg" alt="image" style="">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title">WRITER</h3>
                            <h6 style="font-weight: bold;">
                                <i class="fa fa-user"></i> Binepe Lhwanzo Bwambale                              
                            </h6>
                            <p class="card-text">
                                - BSc. Public Health, Year 2
                                <br>
                                - Inspiration Writer                                                          
                                <br>
                                - Class Coordinator Public Health Year 2
                                <br>
                                - President BALUSA
                                <br>
                                - Debate President, Lira University Debate Society.
                                <br>
                                - Deputy National Coordinator, Uganda University Debate Presidents Council
                                <br>
                                - Vice President Internal Affairs, FUPHESA – Federation of Uganda Public Health Students Association
                                <br>
                                - 0778454134 / 0702248438                                                         
                                <br>
                                - <span style="font-weight: bold;">binepebwambale@gmail.com</span>                           
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
