<!-- Horizontal scrollmenu -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto pt-md-5 mt-md-3 mb-4">
                    <div class="scrollmenu indicator d-flex justify-content-between">
                        <div  onclick="indicateSlide(this)" id="0">
                            <a href="/feed">ALL</a>
                        </div>
                        <div  onclick="indicateSlide(this)" id="1">
                            <a href="/campus-101">Campus 101</a>
                        </div>
                        <div onclick="indicateSlide(this)" id="2">
                            <a href="/interview">Interviews</a>
                        </div>
                        <div  onclick="indicateSlide(this)" id="3">
                            <a href="/internship">Internship</a>
                        </div>
                        <div class="active1" onclick="indicateSlide(this)" id="4">
                            <a href="/inspiration">Inspiration</a>
                        </div>
                        <div onclick="indicateSlide(this)" id="5">
                            <a href="/uncensored">Uncensored</a>
                        </div>
                        <div onclick="indicateSlide(this)" id="6">
                            <a href="/noticeboard">NoticeBoard</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of Horizontal scrollmenu -->